@import "variaveis.scss";

/*Acupuntura Style*/

#image {
  width: 220px;
  height: 220px;
}

.bg-parallax {
  background: url(../../../assets/img/page_acu/bg-mari1.jpg) fixed;
  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 300px;
  padding-bottom: 300px;
}

.img-site {
  background-image: url(../../../assets/img/page_acu/bg-mari_2.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 200px;
  padding-bottom: 200px;
  color: $cor-branco;
}

.sombra:hover {
  box-shadow: 0 0 20px 0 rgba(178, 65, 93, 0.7);
}