//variables color

$cor1-rosa: #f186a2 !default;
$cor2-rosaMedio: #b2415d !default;
$cor3-roxo: #6d597c !default;
$cor-branco: #ffffff !default;
$cor-preto: #000000 !default;
$cor-vermelho: red !default;
$cor-cinza: rgb(49, 49, 49) !default;
$cor-cinza-claro: rgb(197, 195, 195) !default;
$cor2-cinza: #2f3640 !default;