@font-face {
	font-family: 'Montserrat-Light';
	src: url("../../../lib/fonts/Montserrat/Montserrat-Light.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Montserrat-Regular';
	src: url("../../../lib/fonts/Montserrat/Montserrat-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Montserrat-Medium';
	src: url("../../../lib/fonts/Montserrat/Montserrat-Medium.ttf");
	font-size: 1em;
}

h3,
h6 {
    font-family: 'Montserrat-Medium';
}

p {
    font-family: 'Montserrat-Regular';
}

/* TODO: Font Navbar*/

#navbarVertical a {
    font-family: 'Montserrat-Regular';
}

#navigation {
    font-family: 'Montserrat-Regular';
}


/* TODO: Font web-site*/

#tituloSite h1 {
    font-family: 'Montserrat-Medium';
}

#pills-nav {
    font-family: 'Montserrat-Medium';
}

#navbar a h4 {
    font-family: 'Montserrat-Medium';
}

.scrollspySite h4,h5 {
    font-family: 'Montserrat-Medium';
}

.textoSubTitulo h1 {
    font-family: 'Montserrat-Medium';
}

.textoFigura {
    font-family: 'Montserrat-Light';
}

.texto-link {
    font-family: 'Montserrat-Regular';
}

.texto-end span {
    font-family: 'Montserrat-Light';
}

/* TODO: font-text Card*/

.cardTexto h4 {
    font-family: 'Montserrat-Medium';
}
.cardTexto h6 {
    font-family: 'Montserrat-Light';
}

.textoList li {
    font-family: 'Montserrat-Regular';
}

.tex-card-link{
    font-family: 'Montserrat-Regular';
}

.textoCard-footer {
    font-family: 'Montserrat-Regular';
}

/* TODO: font Footer*/

.textoRodape {
    font-family: 'Montserrat-Light';
}

.textTop a {
    font-family: 'Montserrat-Light';
}

/* TODO: Font TRATAMENTOS*/

.texto-carousel p {
	font-family: 'Montserrat-light';
}

.cardTexto {
    font-family: 'Montserrat-Medium';
}

/* TODO: Font ACUPUNTURA*/

.textoList {
    font-family: 'Montserrat-Regular';
}
.textoTitte, .tittleSite {
    font-family: 'Montserrat-Regular';
}
.textDep{
    font-family: 'Montserrat-Medium';
}

/* TODO: Font DEPOIMENTOS*/

#navigation .nav-pills li a {
    font-family: 'Montserrat-Regular';
}

#navigation a {
    font-family: 'Montserrat-Regular';
}

/* TODO: Page CONTATOS*/

#textoLink .btn-group a {
    font-family: 'Montserrat-light';
}

/*TODO: Page Naturologia*/

#titleNat h1,h4 {
    font-family: 'Montserrat-Regular';
}

#titleNat .card-title span {
    font-family: 'Montserrat-Regular';
}

#myTab .nav-item .nav-link {
    font-family: 'Montserrat-light';
}

.featurette-heading {
    font-family: 'Montserrat-Regular';
}

.featurette-heading span {
    font-family: 'Montserrat-Regular';
}

.active-tab strong {
    font-family: 'Montserrat-light';
}

.previous-tab strong {
    font-family: 'Montserrat-light';
}

.card-text small {
    font-family: 'Montserrat-light';
}